card {
    margin: 16px;
    width: 200px;

    .image{
        background-color: white;
        height: 200px;
        margin-bottom: 16px;

        img {
            max-width: 100%;
            height: auto;
        }
    }

    .name-cart {
        display: flex;
        justify-content: space-between;
        font-weight: 600;

        .cart:hover{
            color: red;
        }
    }

    .price {
        text-align: end;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-weight: 600;
    }
}